<form class="flexcol" autocomplete="off">
    <section>
        <header>
            <h1>{{title}}</h1>
        </header>
    </section>

    <section>
        <div>
            {{assets}}
        </div>
    </section>
</form>
