<form class="flexcol" autocomplete="off">
    <section>
        <header>
            <h1>{{title}}</h1>
        </header>
    </section>

    <section>
        <div>
            {{#each assets}}
            <div style="{{#unless isValid}}color: red;{{/unless}}">
                <i class="fa fa-{{icon}}"></i>
                <span>{{name}}</span>
                <input type="text" value="{{path}}" />
            </div>
            {{/each}}
        </div>
    </section>
</form>